<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="windowsServerUrl" value="https://n7-startswin-web-active.playdom.com/app/batch/json"/>
        <add key="androidServerUrl" value="https://n7-starts-web-active.playdom.com/j/batch/json"/>
        <add key="selectedServer" value="Windows"/>
        <add key="listenerPlayerId" value="5e26f98d-2a67-11e7-97a3-06cb44004f79"/>
        <add key="listenerPlayerSecret" value="fcb52306b5e30aa25ff62058be9da43f"/>
        <add key="targetPlayerId" value="f5fb22e2-79eb-11e5-bd91-061c98004f78"/>
        <add key="notifyAlways" value="true"/>
    </appSettings>
</configuration>