<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="androidServerUrl" value="https://n7-starts-web-active.playdom.com/j/batch/json"/>
        <add key="lastPlayerId" value=""/>
        <add key="lastPlayerSecret" value=""/>
        <add key="messageManagerRetryCount" value="5"/>
    </appSettings>
</configuration>