<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="windowsServerUrl" value="https://n7-startswin-web-active.playdom.com/app/batch/json"/>
        <add key="androidServerUrl" value="https://n7-starts-web-active.playdom.com/j/batch/json"/>
        <add key="selectedServer" value="Windows"/>
        <add key="lastPlayerId" value=""/>
        <add key="lastPlayerSecret" value=""/>
        <add key="lastPlayerPrefLocation" value=""/>
    </appSettings>
</configuration>